 

  <div class="container">
    <div class="row justify-content-center mt-3">
        <div class="card stylec" style="width: 60%;">
            <img src="images/30953.jpg" class="card-img-top" alt="it ends with us" width="200px" height="370px" style="margin-top: 2%;">
            <div class="card-body ">
              <h5 class="card-title fontcheck"><b>Children's Reading Hour</b></h5>
              <p class="card-text fontcheck">Join us for a fun-filled reading hour with exciting stories and activities for children of all ages.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
  <div class="row justify-content-center mt-3">
      <div class="card stylec" style="width: 50%;">
          <img src="images/artdiy.jpg" class="card-img-top" alt="it ends with us" width="200px" height="370px" style="margin-top: 2%;">
          <div class="card-body ">
            <h5 class="card-title fontcheck"><b>Arts & Crafts Workshop</b></h5>
            <p class="card-text fontcheck">Let your child's creativity shine with our arts and crafts workshop, where they can create their own masterpieces.</p>
            <a href="#" class="btn btn-primary">Discover Now</a>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mt-3">
      <div class="card stylec" style="width: 60%;">
          <img src="images/booksale.jpeg" class="card-img-top" alt="it ends with us" width="200px" height="370px" style="margin-top: 2%;">
          <div class="card-body ">
              <h5 class="card-title fontcheck "><b>Sale</b></h5>
              <p class="card-text fontcheck">Sale Upto 30% off. Grab your favourite book.</p>
              <a href="#" class="btn btn-primary">Get to know more</a>
          </div>
      </div>
  </div>
</div>