body{
    background-color: rgb(52, 52, 52);
    background-color: #0b1f28; 
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}

 .cv-container{
width: 70%;
height: 100%;
display: flex;
flex-direction: column;  
align-items: center;
padding: 10px;
box-shadow: 0px 0px 20px 5px rgba(142, 142, 142, 0.659);
word-wrap: break-word;
background-color: #092635;
background-color: #102c3a;

} 


.box1 {
    width:60%;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #9EC8B9;
    background-color: #ffffff;
    color: #224b60;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px rgb(228, 236, 243);
    border-radius: 10px;
    padding: 3%;
    display:flex;
    box-shadow: 0px 0px 20px 1px rgba(28, 28, 28, 0.514);
    word-wrap: break-word;

}

.box1:hover ,.box2-color:hover , .box3-A:hover , .box3-B:hover {
    box-shadow: 0px 0px 20px 1px rgba(198, 194, 194, 0.9);
}


.image-flex{
display: flex;
align-items: center;
}


.box2-flex{
display: flex;
justify-content: space-between;
width: 66%;
color: #224b60;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.font-give{
    font-size: 13px;
}

.box2-color{
background-color: #ffffff;
border: 2px rgb(228, 236, 243);
border-radius: 10px;
padding: 3%;
padding-top: 0;
width: 48%;
box-shadow: 0px 0px 20px 1px rgba(28, 28, 28, 0.514);
color: #224b60;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.box3-flex{
   
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;

 }

 .box3-A, .box3-B{
    width:100%;
    background-color: #ffffff;
    border: 2px rgb(228, 236, 243);
    border-radius: 10px;
   padding-left: 5%;
   padding-right: 5%;
   padding-bottom: 5%;
   box-shadow: 0px 0px 20px 1px rgba(28, 28, 28, 0.514);
   color: #224b60;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

.box3-B{
    margin-top: 6%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pfp{
   border: 1px solid rgb(109, 109, 109);
   border-radius: 50%;
   padding: 5px;
   float:left;
   margin-right: 50px;
}


.container{
    width:100%;
    background-color: rgba(117, 115, 115, 0.514) ;
    border: rgba(28, 28, 28, 0.514);
    border-radius: 20px;
}

.skills-project, .skills-team, .skills-program, .skills-creative{
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(89, 122, 122);
    border: 1px rgb(89, 122, 122);
    border-radius: 20px;
}

.skills-project{
    width: 75%;
    background-color:  #0879c8;
    
}
.skills-program{
    width:80%;
    background-color: #0879c8;
}
.skills-creative{
    width:70%;
    background-color: #0879c8;
}
.skills-team{
    width: 85%;
    background-color:  #0879c8;
}
.text-pic{
   align-items: center;
}

.contact-flex{

    display: flex;
    word-wrap: break-word;
}

.content-flex{
    overflow: hidden;
    text-overflow: ellipsis;
}

.link{
text-decoration: none;
color: darkblue;

}

.link:hover{
    color: black;
}

.link.visited{
    color: purple;
}