<link rel="stylesheet" href="contactusccs.css">


  <div class="container card-container card-font">
    <div class="card-group text-center stylecard">
        <div class="card mb-3 style-box">
            <div class="row g-0 flex-contact">
                <div class="col-md-4 mt-4">
                    <img src="images/question.jpg" class="img-fluid " alt="SALE" >
                </div>


                <div class="col-lg-6 mb-4 mb-lg-0 text-style" style="font-size: x-small;">
                  <h5 class="text-uppercase mb-4 contact-style">About Us</h5>
                  <div class="form-outline mb-4">
                      <p>Welcome to Bookworm, your number one source for all books. We're dedicated to providing you the very best of literature, with an emphasis on quality, customer service, and uniqueness.</p>
                      <p>Founded in 2021, Bookworm has come a long way from its beginnings. When we first started out, our passion for providing the best selection of books drove us to start our own business.</p>
                      <p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>             
                      <p><strong>Our Mission:</strong> To provide a wide range of books to our customers, ensuring they find the perfect read to match their taste.</p>             
                      <p><strong>Our Vision:</strong> To be the leading bookstore known for its quality, variety, and exceptional customer service.</p>             
                      <p><strong>Our Values:</strong> Integrity, Passion, Commitment, and Customer Satisfaction.</p>              
                      <p>Visit us at our store or contact us through our email or phone. We are always here to assist you!</p>
                  </div>
                  <div class="form-outline mb-4">
                      <strong>Address:</strong><br>
                      Street 208 Area 101<br>
                      Gulberg 3<br>
                      Lahore, Pakistan.<br>
                      Phone: 0334-9783845<br>
                      Email: <a href="mailto:bookworms15@gmail.com">bookworms15@gmail.com</a>
                  </div>
              </div>
              
            </div>
        </div>
    </div>
</div>